version: '3.6'

services:
  android-emulator:
    image: budtmo/docker-android:emulator_14.0
    privileged: true
    networks:
      - traefik
    ports:
      - target: 5555
        published: 5555
        protocol: tcp
        mode: host
      - target: 6080
        published: 6080
        protocol: tcp
        mode: host
    environment:
      - EMULATOR_DEVICE=Pixel_8
      - WEB_VNC=true
      - APPIUM=false
      - EMULATOR_TIMEOUT=600
      - SKIN_NAME=1080x2400
      - ANDROID_ARCH=x86_64
      - ANDROID_VERSION=14.0
    devices:
      - /dev/kvm:/dev/kvm
    deploy:
      placement:
        constraints: ["${NODE}"]
      restart_policy:
        condition: any
        delay: 10s
    logging:
      driver: loki
      options:
        loki-url: ${LOKI_URL}
    healthcheck:
      test: ["CMD-SHELL", "adb devices | grep emulator-5554 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 180s

networks:
  traefik:
    external: true
    name: traefik-network
